*{
    margin: 0;
    padding: 0;
}

.header{
    height: 8%;
}

.navbar-style{
    box-shadow: 0 5px 10px #7e7879;
    text-transform: uppercase; 
}

.logo{
    height: 53px;
    padding: 0px 0px;
    position: relative;
    animation-name: anime;
    animation-duration: 10s;
}
@keyframes anime {
    0%   {background-color:#F2EA02; left:0px; top:0px;}
    25%  {background-color:#FF0099; left:500px; top:0px;}
    50%   {background-color:#00FFFF; left:0px; top:0px;}
    
  }
.icon-bar{
    background: darkblue;
}
li a{
    color: #d90429;
}
body{
    font-family: 'Trebuchet MS', sans-serif;
}
.footer{
    background: black;
    color:white;
    height:1000px;
    position:relative;
}
.footer .footer-content{
    height:900px;
    display:flex;
}   
.footer .footer-content .footer-section{
    flex: 1;
    padding: 50px;    
}
.footer .footer-bottom1{
    color:rgb(185, 181, 181);
    height: 30px;
    position: absolute;
    bottom:15px;
    left:50px;
    padding-top: 20px;
}
.footer .footer-bottom2{
    color:rgb(185, 181, 181);
    height:30px;
    position:absolute;
    bottom:15px;
    right:30px;
    padding-top:20px;
}